@import url('https://fonts.googleapis.com/css?family=Space+Mono');

.buffer{
  height: 80px;
}
.section{
  position: relative;
  top: -40px;
  width: 100%;
  height: 400px;
  background: #fff;
  border-bottom: 1px solid #000;
  z-index: -1;
}

.content #about{
  height: 800px;
  background-color: #FDFFFC;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}

body {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-family: 'Space Mono', monospace;
  background-color: #0a0a0a;
  background-image: url("https://www.transparenttextures.com/patterns/graphy-dark.png");
  background-attachment: fixed;
}

.top-container {
  text-align: center;
}

#logo{
  position: relative;
  top: -20px;
}

#scroll-letters{
  position: absolute;
  z-index: -1;
  right: 2px;
  
}

/* Navbar styling */
.navbar {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 24px;
  background-color: #011627;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
  z-index: 11;
}
nav {
  width: 100%;
}
nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav a{
  text-decoration: none;
  color: #FDFFFC;
  display: block;
  padding: 10px;
}

nav a:hover {
  background-color: #555;
  color: #FDFFFC;
}

.active {
  background-color: #F71735;
  color: #FDFFFC;
}


@media screen and (min-width: 768px){
  nav ul {
    display: flex;
    justify-content: center;
  }

}

@media screen and (max-width: 768px){
  .navbar {
    font-size: 16px;
  }

  nav ul{
    text-align: center;
  }

}


/* Section home styling */
#home{
  background-image: url('images/home-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}

#home .h1 {
  text-align: center;
  background-color: rgb(1, 22, 39, 0.9);
  color: #fff;
}

.h1 {
  position: relative;
  margin: auto;
  width: 500px;
  height: 200px;
  top: 110px;
  padding: 10px;
}

.h1 h1{
  margin-top: 40px;
}

.h1 p {
  margin-top: -20px;
  font-size: 15px;
}

/* About page styling */
.container {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

#about{
  z-index: 10;
}

#about .container{
  position: relative;
  top: 50px;
}

#code-stats{
  height: 400px;
}


/* Navbar sticky class*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/* Portfolio styling */
#portfolio{
  height: 1000px;
  text-align: center;
}
.portfolio-container{
  position: relative;
  top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.portfolio-container > div {
  display: flex; 
  flex-basis: calc(33.33% - 15px);  
  justify-content: center;
  flex-direction: column;
}

.portfolio-container > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}


#first-item, #second-item, #third-item, #fourth-item, #fifth-item, #sixth-item{
  background-color: blue;
  height: 300px;
  border: 1px solid black;
  margin: 10px 0 10px 10px;
}